{
  "rules": {
    "string-quotes": "single",
    "color-hex-case": "lower",
    "number-no-trailing-zeros": true,
    "number-zero-length-no-unit": true,
    "value-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-single-line-max-declarations": 1,
    "block-closing-brace-newline-after": "always",
    "block-no-empty": true,
    "block-opening-brace-space-before": "always",
    "selector-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "double",
    "rule-no-duplicate-properties": true,
    "rule-trailing-semicolon": "always",
    "media-feature-colon-space-after": "always",
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-range-operator-space-after": "always",
    "indentation": 2
  }
}
