/*

  Eight.typography
  ----

*/

/*! Configurables

Rule: Add margin to paragraphs with sibling paragraphs */
$paragraph-sibling-margin: true;

/*! Locales: af,bg,cs,da,de,el,en,es,fi,fr,hr,is,lt,nl,pl,ro,sk,sq,sr,sv,tr */
$quotes-locale: en;

/*
  Headings
  ----
*/
h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 {
  font-size: 4.8rem;
  line-height: 1.333em;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.5em;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.333em;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.5em;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.333em;
}

/*
  - If a paragraph is accompanied by another paragraph, we apply a margin to the top of the children after the first child.
*/
@if $paragraph-sibling-margin {
  p + p {
    margin-top: 1em;
  }
}

/*
  - Assign locale-specific quotations to the current document.
*/
html:lang($quotes-locale) {
  quotes: map(quote_locales, $quotes-locale);
}
