/*

  Eight.typography
  ----

*/

/*! Constants */
$locales: (
  'af': '\201E' '\201D' '\201A' '\2019',
  'bg': '\201E' '\201C' '\201A' '\2018',
  'cs': '\201E' '\201C' '\201A' '\2018',
  'da': '\00BB' '\00AB' '\203A' '\2039',
  'de': '\201E' '\201C' '\201A' '\2018',
  'el': '\00AB' '\00BB' '\2039' '\203A',
  'en': '\2018' '\2019' '\201C' '\201D',
  'es': '\00AB' '\00BB' '\2039' '\203A',
  'fi': '\201D' '\201D' '\2019' '\2019',
  'fr': '\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a',
  'hr': '\00BB' '\00AB' '\203A' '\2039',
  'is': '\201E' '\201C' '\201A' '\2018',
  'lt': '\201E' '\201C' '\201A' '\2018',
  'nl': '\201E' '\201D' '\201A' '\2019',
  'pl': '\201E' '\201D' '\201A' '\2019',
  'ro': '\201E' '\201C' '\201A' '\2018',
  'sk': '\201E' '\201C' '\201A' '\2018',
  'sq': '\00AB' '\00BB' '\2039' '\203A',
  'sr': '\201E' '\201C' '\201A' '\2018',
  'sv': '\201D' '\201D' '\2019' '\2019',
  'tr': '\00AB' '\00BB' '\2039' '\203A'
);

/*! Configurables

Rule: Add margin to paragraphs with sibling paragraphs */
$paragraph-sibling-margin: true;
$quote-locale: en;

/*
  Headings
  ----
*/
h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 {
  font-size: 4.8rem;
  line-height: 1.333em;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.5em;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.333em;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.5em;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.333em;
}

/*
  - If a paragraph is accompanied by another paragraph, we apply a margin to the top of the children after the first child.
*/
@if $paragraph-sibling-margin {
  p + p {
    margin-top: 1em;
  }
}

/*
  - Configures the document to use the correct quotes for the locale assigned to <html lang>
*/
html:lang($quote-locale) {
  quotes: map-get($locales, $quote-locale);
}
