/*

  Eight.grid
  ----
  Based on the 8pt grid. (https://spec.fm/specifics/8-pt-grid)

*/


/*!
  Configuration
  ----
  gutter: width emitting from either side of a column
*/
$gutter: .8vw;


/* Container class for any `.row` or `.col` */
.grid {
  display: flex;
  padding-left: $gutter;
  padding-right: $gutter;
}

/* A wrapper for all columns to offset gutters and provide positioning extras */
.row {
  margin-left: -$gutter;
  margin-right: -$gutter;
  display: flex;
  flex: 1 0 100%;

  &--center { justify-content: center; }
  &--end { justify-content: flex-end; }
  &--reverse { flex-direction: row-reverse; }
}

.col {
  width: calc(100% / 8);
  flex: 1 1 calc(100% / 8);
  padding-right: $gutter;
  padding-left: $gutter;

  &.col-8 {
    width: calc(100%);
    flex: 0 1 calc(100% / 8);
  }

  &.col-7 {
    width: calc(100% - (100% / 8));
    flex: 0 1 calc(100% - (100% / 8));
  }

  &.col-6 {
    width: calc(100% - ((100% / 8) * 2));
    flex: 0 1 calc(100% - ((100% / 8) * 2));
  }

  &.col-5 {
    width: calc(100% - ((100% / 8) * 3));
    flex: 0 1 calc(100% - ((100% / 8) * 3));
  }

  &.col-4 {
    width: calc(100% - ((100% / 8) * 4));
    flex: 0 1 calc(100% - ((100% / 8) * 4));
  }

  &.col-3 {
    width: calc(100% - ((100% / 8) * 5));
    flex: 0 1 calc(100% - ((100% / 8) * 5));
  }

  &.col-2 {
    width: calc(100% - ((100% / 8) * 6));
    flex: 0 1 calc(100% - ((100% / 8) * 6));
  }

  &.col-1 {
    width: calc(100% / 8);
    flex: 0 1 calc(100% / 8);
  }
}
